---
/**
 * ChinaMap.astro - Interactive SVG map of China.
 * Highlights visited provinces, click to filter photos.
 */
import type { TravelLocation } from '../types/content';

type Props = {
	locations: TravelLocation[];
	activeProvince?: string;
};

const { locations, activeProvince = '' } = Astro.props;
const visitedCodes = new Set(locations.filter(l => l.visited).map(l => l.code));
---

<div class="china-map-wrap">
	<svg viewBox="0 0 900 700" class="china-map" id="china-map" aria-label="Map of China showing visited provinces">
		<!-- Simplified province paths -->
		<g class="provinces">
			<!-- Heilongjiang -->
			<path data-code="HL" d="M680,40 L750,50 L770,90 L760,140 L730,160 L700,150 L680,120 L670,80 Z" class="province" />
			<!-- Jilin -->
			<path data-code="JL" d="M730,160 L770,155 L790,180 L780,210 L750,220 L720,200 Z" class="province" />
			<!-- Liaoning -->
			<path data-code="LN" d="M720,200 L750,220 L760,260 L740,280 L710,270 L700,240 Z" class="province" />
			<!-- Beijing -->
			<path data-code="BJ" d="M660,240 L690,235 L700,260 L680,275 L655,265 Z" class="province" />
			<!-- Tianjin -->
			<path data-code="TJ" d="M690,260 L710,270 L705,290 L685,285 Z" class="province" />
			<!-- Hebei -->
			<path data-code="HE" d="M620,220 L660,240 L655,265 L680,275 L685,285 L670,310 L640,320 L620,290 L610,250 Z" class="province" />
			<!-- Shandong -->
			<path data-code="SD" d="M640,320 L670,310 L700,330 L720,350 L700,380 L660,370 L640,350 Z" class="province" />
			<!-- Shanxi -->
			<path data-code="SX" d="M580,250 L620,220 L610,250 L620,290 L600,310 L580,290 Z" class="province" />
			<!-- Inner Mongolia -->
			<path data-code="NM" d="M400,60 L500,50 L600,70 L680,40 L670,80 L680,120 L700,150 L730,160 L720,200 L700,240 L660,240 L620,220 L580,250 L540,220 L500,200 L460,180 L420,160 L400,120 Z" class="province" />
			<!-- Shaanxi -->
			<path data-code="SN" d="M520,280 L580,250 L580,290 L600,310 L580,350 L550,370 L520,340 L510,300 Z" class="province" />
			<!-- Henan -->
			<path data-code="HA" d="M580,350 L620,290 L640,320 L640,350 L620,380 L590,390 L570,370 Z" class="province" />
			<!-- Hubei -->
			<path data-code="HB" d="M520,380 L570,370 L590,390 L620,380 L610,420 L570,440 L530,430 L510,410 Z" class="province" />
			<!-- Hunan -->
			<path data-code="HN" d="M530,430 L570,440 L590,460 L580,500 L550,510 L520,490 L510,460 Z" class="province" />
			<!-- Jiangxi -->
			<path data-code="JX" d="M590,460 L620,440 L640,460 L630,500 L600,510 L580,500 Z" class="province" />
			<!-- Anhui -->
			<path data-code="AH" d="M620,380 L640,350 L660,370 L670,400 L660,430 L630,440 L620,420 Z" class="province" />
			<!-- Jiangsu -->
			<path data-code="JS" d="M660,370 L700,380 L710,410 L690,430 L670,430 L660,400 Z" class="province" />
			<!-- Shanghai -->
			<path data-code="SH" d="M700,430 L720,425 L715,445 L695,440 Z" class="province" />
			<!-- Zhejiang -->
			<path data-code="ZJ" d="M660,430 L690,430 L695,440 L690,470 L660,480 L640,460 Z" class="province" />
			<!-- Fujian -->
			<path data-code="FJ" d="M640,460 L660,480 L670,520 L650,540 L620,520 L630,500 Z" class="province" />
			<!-- Taiwan -->
			<path data-code="TW" d="M680,510 L695,505 L690,550 L675,545 Z" class="province" />
			<!-- Guangdong -->
			<path data-code="GD" d="M550,510 L580,500 L600,510 L620,520 L610,560 L580,570 L550,550 L540,530 Z" class="province" />
			<!-- Guangxi -->
			<path data-code="GX" d="M470,510 L520,490 L550,510 L540,530 L550,550 L530,570 L490,560 L470,540 Z" class="province" />
			<!-- Hainan -->
			<path data-code="HI" d="M520,590 L545,585 L540,615 L515,610 Z" class="province" />
			<!-- Sichuan -->
			<path data-code="SC" d="M380,340 L430,320 L470,340 L510,300 L520,340 L520,380 L510,410 L480,420 L440,410 L410,390 L390,370 Z" class="province" />
			<!-- Chongqing -->
			<path data-code="CQ" d="M510,410 L530,430 L520,450 L500,440 L490,420 Z" class="province" />
			<!-- Guizhou -->
			<path data-code="GZ" d="M470,440 L500,440 L520,450 L520,490 L490,500 L470,480 L460,460 Z" class="province" />
			<!-- Yunnan -->
			<path data-code="YN" d="M350,440 L400,420 L440,410 L470,440 L460,460 L470,480 L470,510 L440,530 L400,520 L370,500 L350,470 Z" class="province" />
			<!-- Tibet -->
			<path data-code="XZ" d="M100,200 L200,180 L300,170 L380,180 L400,120 L420,160 L400,250 L380,300 L350,340 L300,360 L250,340 L200,300 L150,260 L120,230 Z" class="province" />
			<!-- Qinghai -->
			<path data-code="QH" d="M300,170 L380,180 L400,250 L380,300 L350,340 L300,320 L280,280 L270,230 Z" class="province" />
			<!-- Gansu -->
			<path data-code="GS" d="M380,180 L400,120 L420,160 L460,180 L500,200 L540,220 L520,280 L510,300 L470,340 L430,320 L400,250 Z" class="province" />
			<!-- Ningxia -->
			<path data-code="NX" d="M500,200 L540,220 L520,250 L500,240 Z" class="province" />
			<!-- Xinjiang -->
			<path data-code="XJ" d="M50,60 L150,40 L250,50 L350,60 L400,60 L400,120 L380,180 L300,170 L200,180 L100,200 L80,150 L60,100 Z" class="province" />
		</g>
	</svg>

	<div class="map-legend">
		<span class="legend-item"><span class="legend-dot visited"></span> Visited</span>
		<span class="legend-item"><span class="legend-dot"></span> Not yet</span>
	</div>
</div>

<script>
(() => {
	const map = document.getElementById('china-map');
	if (!map) return;

	const visitedCodes = new Set(Array.from({length: 0}));
	// Get visited codes from data attribute
	const dataEl = document.querySelector('[data-visited-codes]') as HTMLElement;
	if (dataEl) {
		dataEl.dataset.visitedCodes?.split(',').forEach(c => visitedCodes.add(c));
	}

	// Mark visited provinces
	map.querySelectorAll('.province').forEach((path) => {
		const code = (path as HTMLElement).dataset.code;
		if (visitedCodes.has(code!)) {
			path.classList.add('is-visited');
		}
	});

	// Click handler
	map.addEventListener('click', (e) => {
		const target = (e.target as SVGElement).closest('.province');
		if (!target) return;

		const code = (target as HTMLElement).dataset.code;
		if (!code || !visitedCodes.has(code)) return;

		// Remove active from all
		map.querySelectorAll('.province').forEach(p => p.classList.remove('is-active'));
		target.classList.add('is-active');

		// Dispatch custom event
		map.dispatchEvent(new CustomEvent('province-select', { detail: { code } }));
	});
})();
</script>
